<style>#register{float: right;}.modTitle{display:inline-block;}</style>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <h1 class="modTitle">ModestGO</h1>
    <span>{{ctrl.points}}</span>
    <button id="register" type="button" class="btn btn-info btn-lg"
    data-target="#myModal" data-toggle="modal"
    data ui-sref="home.login" >Login</button>
  </div>
</nav>
  </div>
<ng-map center="37.63909719999999,-120.99687819999997" zoom="14" style="height:100vh;"></ng-map>
<ui-view></ui-view>
