<style>.lb-container.ng-scope {
    position: fixed;
    bottom: 0;
    z-index: 9999999999999;
    background: #fff;
    width: 100vw;
    height: 100vh;
}
lb-list {
  background: tomato;
  display: block;
  text-align: center;
  color: #FFF;
  padding: 5%;
}

</style>
<div class="lb-container">
  <a ui-sref="home">Home</a>
<h1>Leaderboard</h1>
<lb-list>
<p>1. Rick Gomez</p>
<p>2. Kobie Domo</p>
<p>3. Jesus Vega</p>
<p>4. Edgar Gonzalez</p>
<p>5. Ace Ventura</p>

</lb-list>


    </div>
  </form>
