<div class="vh-modal">
  <form  role="form">
    <div class="form-group">
      <label>email</label>
      <input type="email" name="email" ng-model="ctrl.registrationForm.email" required="required" class="form-control"/>
    </div>

    <div class="form-group">
      <label>password</label>
      <input type="password" name="password" ng-model="ctrl.registrationForm.password" required="required" class="form-control"/>
    </div>

    <div class="form-group">
      <label>password confirmation</label>
      <input type="password" name="password_confirmation" ng-model="ctrl.registrationForm.password_confirmation" required="required" class="form-control"/>
    </div>

    <button type="submit" class="nav-button" ng-click="ctrl.handleRegBtnClick()">Register</button>
  </form>
  <h3> SHOW: {{this.registrationForm}}</h3>
</div>
