.info-container.ng-scope {
    position: fixed;
    top: 10vh;
    z-index: 9999999999999;
    background: #fff;
    width: 30vw;
    right: 0vh;
    height: 70vh;
    padding: 1%;
}

.info-container > form {
  padding-left: 0;
}
